secret_id         = "AKIDxxxxxxxx"
secret_key        = "xxxxxxxx"
region            = "ap-guangzhou"
environment       = "prod"
project_name      = "good"
vpc_id            = "vpc-xxxx"
subnet_id         = "subnet-xxxx"
cynosdb_zone      = "ap-guangzhou-3"
db_admin_password = "ReplaceWithStrongPassword!"
db_host           = "cynosdb-host.mysql.tencentcdb.com"
db_user           = "good_app"
db_name           = "good"
scf_role_arn      = "qcs::cam::uin/1234567890:roleName/SCF_QcsRole"
sms_sdk_app_id    = "1400xxxxxx"
sms_sign_name     = "我很好"
sms_template_id   = "18xxxxxx"
cos_bucket_name   = ""
function_code_bucket = ""
function_code_prefix = "functions"
dashscope_api_key    = ""
wechat_notify_webhook = ""
voice_message_webhook = ""

